<div class="row">
  <div class="col-md-12">
    <h1><%= @project.title %></h1>
    <p> <%= @project.body %> </p>
    <h4><%= link_to 'Edit Project', edit_project_path %> </h4>
    <h4><%= link_to 'Delete Project', project_path(@project), method: :delete %> </h4>

    <div class="row">
      <div class="col-md-6">
        <h3>Add update</h3>
        <%= bootstrap_form_for [@project, @update] do |f| %>
          <%= f.text_area :body %>
          <%= f.select :category, @categories %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h2>Upates</h2>
    <% @updates.each do |update| %>
      <div class="media">
        <div class="media-left">
          <%= link_to(image_tag(current_user.avatar(:thumb), class: 'media-object'), '') %>
        </div>
        <div class="media-body">
          <p><%= update.body %></p>
          <p>Status: <%= category_icon(update.category) %></p>
          <p><%= update.created_at.to_s(:short) %></p>

        </div>
      </div>
    <% end %>
  </div>
</div>
